src/conf/xml-resources/web-service-references/DOLService/wsdl/cscitemp161.cs.uno.edu_8080/DOLServices/DOLService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dol.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dol.com/" name="DOLService">
<types>
<xsd:schema>
<xsd:import namespace="http://dol.com/" schemaLocation="http://cscitemp161.cs.uno.edu:8080/DOLServices/DOLService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllSkills">
<part name="parameters" element="tns:getAllSkills"/>
</message>
<message name="getAllSkillsResponse">
<part name="parameters" element="tns:getAllSkillsResponse"/>
</message>
<message name="getSkill">
<part name="parameters" element="tns:getSkill"/>
</message>
<message name="getSkillResponse">
<part name="parameters" element="tns:getSkillResponse"/>
</message>
<message name="NonexistentSkillException">
<part name="fault" element="tns:NonexistentSkillException"/>
</message>
<message name="getAllOccupations">
<part name="parameters" element="tns:getAllOccupations"/>
</message>
<message name="getAllOccupationsResponse">
<part name="parameters" element="tns:getAllOccupationsResponse"/>
</message>
<message name="getOccupation">
<part name="parameters" element="tns:getOccupation"/>
</message>
<message name="getOccupationResponse">
<part name="parameters" element="tns:getOccupationResponse"/>
</message>
<message name="NonexistentOccupationException">
<part name="fault" element="tns:NonexistentOccupationException"/>
</message>
<message name="getSkillsFromOccupation">
<part name="parameters" element="tns:getSkillsFromOccupation"/>
</message>
<message name="getSkillsFromOccupationResponse">
<part name="parameters" element="tns:getSkillsFromOccupationResponse"/>
</message>
<message name="getOccupationFromSkill">
<part name="parameters" element="tns:getOccupationFromSkill"/>
</message>
<message name="getOccupationFromSkillResponse">
<part name="parameters" element="tns:getOccupationFromSkillResponse"/>
</message>
<portType name="DOLService">
<operation name="getAllSkills">
<input wsam:Action="http://dol.com/DOLService/getAllSkillsRequest" message="tns:getAllSkills"/>
<output wsam:Action="http://dol.com/DOLService/getAllSkillsResponse" message="tns:getAllSkillsResponse"/>
</operation>
<operation name="getSkill">
<input wsam:Action="http://dol.com/DOLService/getSkillRequest" message="tns:getSkill"/>
<output wsam:Action="http://dol.com/DOLService/getSkillResponse" message="tns:getSkillResponse"/>
<fault message="tns:NonexistentSkillException" name="NonexistentSkillException" wsam:Action="http://dol.com/DOLService/getSkill/Fault/NonexistentSkillException"/>
</operation>
<operation name="getAllOccupations">
<input wsam:Action="http://dol.com/DOLService/getAllOccupationsRequest" message="tns:getAllOccupations"/>
<output wsam:Action="http://dol.com/DOLService/getAllOccupationsResponse" message="tns:getAllOccupationsResponse"/>
</operation>
<operation name="getOccupation">
<input wsam:Action="http://dol.com/DOLService/getOccupationRequest" message="tns:getOccupation"/>
<output wsam:Action="http://dol.com/DOLService/getOccupationResponse" message="tns:getOccupationResponse"/>
<fault message="tns:NonexistentOccupationException" name="NonexistentOccupationException" wsam:Action="http://dol.com/DOLService/getOccupation/Fault/NonexistentOccupationException"/>
</operation>
<operation name="getSkillsFromOccupation">
<input wsam:Action="http://dol.com/DOLService/getSkillsFromOccupationRequest" message="tns:getSkillsFromOccupation"/>
<output wsam:Action="http://dol.com/DOLService/getSkillsFromOccupationResponse" message="tns:getSkillsFromOccupationResponse"/>
</operation>
<operation name="getOccupationFromSkill">
<input wsam:Action="http://dol.com/DOLService/getOccupationFromSkillRequest" message="tns:getOccupationFromSkill"/>
<output wsam:Action="http://dol.com/DOLService/getOccupationFromSkillResponse" message="tns:getOccupationFromSkillResponse"/>
</operation>
</portType>
<binding name="DOLServicePortBinding" type="tns:DOLService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllSkills">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSkill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentSkillException">
<soap:fault name="NonexistentSkillException" use="literal"/>
</fault>
</operation>
<operation name="getAllOccupations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOccupation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentOccupationException">
<soap:fault name="NonexistentOccupationException" use="literal"/>
</fault>
</operation>
<operation name="getSkillsFromOccupation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOccupationFromSkill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DOLService">
<port name="DOLServicePort" binding="tns:DOLServicePortBinding">
<soap:address location="http://cscitemp161.cs.uno.edu:8080/DOLServices/DOLService"/>
</port>
</service>
</definitions>